/*========= Var css ==========*/
:root{
    --primary-color:#092b66;
    --secondary-color:#2061b2;
    --tertiary-color:#092b66;
    --white-color:#FFF;
    --light-color:#777777;
    --border-secondary-color: 1px solid var(--secondary-color);
    --b:#2f64ba;
}

/* ======= fonts de letra Bariol ======= */
@font-face{
    src: url('../../fonts/Bariol_Bold.otf');
    font-family:bold;
}

@font-face{
    src: url('../../fonts/Bariol_Regular.otf');
    font-family:regular;
}

/* ======= Reusable class ======= */
.bg-primary-color{
    background-color:var(--primary-color) !important;
    color: var(--white-color) !important;
}

.bg-secondary-color{
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}

.color-secondary{
    color: var(--secondary-color) !important;
}

.color-tertiary{
    color: var(--tertiary-color) !important;
}

.color-primary{
    color: var(--primary-color) !important;
}
.bg-tertiary-color, .btn-submit{
    background-color: var(--tertiary-color) !important;
    color: var(--white-color) !important;
}

.btn-submit:hover{
    background-color: var(--secondary-color) !important;
}

input:focus,
select:focus{
    border: var(--border-secondary-color) !important;
}

.form-group label{
    color: var(--primary-color) !important;
}

.form-check-input:checked {
    border-color: var(--tertiary-color) !important;
    background-color: var(--tertiary-color) !important;
}

/* ===== title === */
h1,h2,h3,h4,h5,h6
{
    font-family: bold;
}
/* ======= Body ====  */
body{
    font-family: regular;
    font-size: 16px;
    font-weight: 400 !important;
}

/* ====== estilizar módulo auth ===== */

.card-body h2, input{
    color: var(--primary-color) !important;
}

.form-control:focus {
    border-color: var(--secondary-color) !important;
}


/* ======== Módulo admin ======= */


.iq-nav-menu .nav-item:not(:first-child) a.nav-link:hover,
.iq-header-sub-menu .nav-item a.nav-link:hover,
.navbar-nav.iq-main-menu a.nav-link:hover{
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}

/* ======= Header admin ============= */
.iq-nav-menu li .nav-link.active{
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
}

.bg-soft-primary{
    background-color:var(--quartenary-color) !important;
}

::placeholder,.navbar-collapse .nav-item .nav-link,
li > .dropdown-item{
    color: var(--light-color) !important;
}

.navbar-collapse .nav-item .nav-link:hover{
    color: var(--secondary-color) !important;
}

.sidebar-toggle{
    background-color: var(--tertiary-color) !important;
}

li > .dropdown-item:hover{
    background-color: var(--quartenary-color) !important;
    color: var(--tertiary-color) !important;
}

.caption-title{
    color: var(--tertiary-color) !important;
}

.caption-sub-title{
    color: var(--secondary-color) !important;
    font-family: bold;
}

.btn-primary:hover{
    background-color: var(--secondary-color) !important;
    border: var(--border-secondary-color) var(--secondary-color) !important;
}

.btn-primary{
    color: var(--white-color) !important;
    background-color: var(--tertiary-color) !important;
    border: var(--border-secondary-color) var(--tertiary-color) !important;
}
/* ======== sidebar menu ======== */
.navbar-nav.iq-main-menu a.nav-link{
    color: var(--light-color) !important;
    font-weight: 500 !important;
    font-size: 17px !important;
}

/* ======  content main dashboard */

.iq-navbar-header{
    background-color: var(--tertiary-color) !important;
    border-bottom:none !important;
}

.btn-warning{
    background-color:#f2c713 !important;
    border:#f2c713 ;
    color: rgb(253, 251, 239);
}

.btn-warning:hover{
    background-color: #eabb01 !important;
    border: #eabb01 !important;
}


/* Setting Panel */
.form-check-input + label span{
    color: var(--light-color) !important;
    font-family: bold;
}
.form-check-input:checked{
    background-color: var(--secondary-color) !important;
}

.btn.btn-border:hover {
    background: rgba(0, 0, 0, 0);
    border-color: var(--border-secondary-color) var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}

.btn-check:focus+.btn, .btn:focus{
    background-color: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border: var(--border-secondary-color) var(--secondary-color) !important;
}

btn-check:checked+.btn.btn-border, .btn-check:active+.btn.btn-border, .btn.btn-border:active, .btn.btn-border.active {
    background: var(--secondary-color) !important;
    color: var(--white-color) !important;
    border-color: var(--secondary-color) !important;
}



.page-link{
    color: var(--secondary-color) !important;
    border:1px solid var(--secondary-color) !important;
}

.page-item.active .page-link {
    color: var(--white-color) !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

 svg.text-primary{
    color: #0d54ce !important;
}

svg.text-secondary{
    color: #b1c8f0 !important;
}

svg.text-tertiray{
    color: #4d79c5 !important;
}

svg.text-info{
    color:var(--secondary-color) !important;
}


